

.h{
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

	
.icon-box2 {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.icon-box2 i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 12px;
}
.btn2, .btn2:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.btn-secondary2 {
	background: #c1c1c1;
}
.btn-secondary2:hover, .btn-secondary2:focus {
	background: #a8a8a8;
}
.btn-danger2 {
	background: #f15e5e;
}
.btn-danger2:hover, .btn-danger2:focus {
	background: #ee3535;
}
.trigger-btn2 {
	display: inline-block;
	margin: 100px auto;
}
.modal2{
	margin-top:20px ;
}
.sup{
	float: right;
}